{% load guardian_tags humanize markup %}
{% get_obj_perms request.user for pollcategoryset as "poll_perms" %}

    <div class="catset_info">

    {% if pollcategoryset.poll %}
        <h2><a href="{% url poll_view pollcategoryset.poll.id %}">{{ pollcategoryset.poll.name }}</a></h2>
        <p>{{ pollcategoryset.poll.description|safe|markdown|linebreaksbr }}</p>

    {% else %}
        {% if "pollcategoryset_update" in poll_perms or perms.polls.pollcategoryset_update %}
            <div class="poll_edit"><a class="btn" href="{% url catset_edit pollcategoryset.id %}">Edit</a></div>
        {% endif %}
        <h2>{{ pollcategoryset.name }}</h2>
        <p>{{ pollcategoryset.description|safe|markdown|linebreaksbr }}</p>

    {% endif %}

    </div>

    <div id="open_map_button" style="margin-bottom:15px;margin-top:15px">
        <a class="btn" href="javascript:openMap(true);" class="small button">Show Map</a>
    </div>
    <div style="margin-bottom:20px" id="map_canvas"></div>

